:root {
	--color-scheme-1-background: var(--color-white);
	--color-neutral-darkest: #020508;
	--color-scheme-1-border: var(--opacity-neutral-darkest-15);
	--color-scheme-1-text: var(--color-neutral-darkest);
	--color-neutral-lighter: #d9d9d9;
	--color-white: #fff;
	--color-neutral-lightest: #f2f2f2;
	--color-neutral-light: #b3b4b4;
	--color-neutral: #808283;
	--color-neutral-dark: #4d5052;
	--color-neutral-darker: #1b1e20;
	--opacity-transparent: rgba(255, 255, 255, 0);
	--color-scheme-1-foreground: var(--color-white);
	--color-scheme-1-accent: var(--color-mexican-red);
	--opacity-white-5: rgba(255, 255, 255, 0.05);
	--opacity-white-10: rgba(255, 255, 255, 0.1);
	--opacity-white-15: rgba(255, 255, 255, 0.15);
	--opacity-white-20: rgba(255, 255, 255, 0.2);
	--opacity-white-30: rgba(255, 255, 255, 0.3);
	--opacity-white-40: rgba(255, 255, 255, 0.4);
	--opacity-white-50: rgba(255, 255, 255, 0.5);
	--opacity-white-60: rgba(255, 255, 255, 0.6);
	--opacity-neutral-darkest-5: rgba(2, 5, 8, 0.05);
	--opacity-neutral-darkest-10: rgba(2, 5, 8, 0.1);
	--opacity-neutral-darkest-15: rgba(2, 5, 8, 0.15);
	--opacity-neutral-darkest-20: rgba(2, 5, 8, 0.2);
	--opacity-neutral-darkest-30: rgba(2, 5, 8, 0.3);
	--opacity-neutral-darkest-40: rgba(2, 5, 8, 0.4);
	--opacity-neutral-darkest-50: rgba(2, 5, 8, 0.5);
	--opacity-neutral-darkest-60: rgba(2, 5, 8, 0.6);
	--color-mexican-red-lightest: #f6e9e9;
	--color-mexican-red-lighter: #edd4d4;
	--color-mexican-red-light: #c06969;
	--color-mexican-red: #a52a2a;
	--color-mexican-red-dark: #842121;
	--color-mexican-red-darker: #421010;
	--color-mexican-red-darkest: #310c0c;
	--color-confetti-lightest: #fdfbf0;
	--color-confetti-lighter: #fbf7e1;
	--color-confetti-light: #f1e398;
	--color-confetti: #ebd86c;
	--color-confetti-dark: #bcac56;
	--color-confetti-darker: #5e562b;
	--color-confetti-darkest: #464020;
	--color-st-tropaz-lightest: #e9eef6;
	--color-st-tropaz-lighter: #d4deed;
	--color-st-tropaz-light: #6a8dc0;
	--color-st-tropaz: #2b5da6;
	--color-st-tropaz-dark: #224a84;
	--color-st-tropaz-darker: #112542;
	--color-st-tropaz-darkest: #0c1b31;
	--color-quill-gray-lightest: #fcfcfc;
	--color-quill-gray-lighter: #f9f9f9;
	--color-quill-gray-light: #ececeb;
	--color-quill-gray: #e5e5e3;
	--color-quill-gray-dark: #b7b7b5;
	--color-quill-gray-darker: #5b5b5a;
	--color-quill-gray-darkest: #444;
	--color-scheme-2-text: var(--color-white);
	--color-scheme-2-background: var(--color-neutral-darker);
	--color-scheme-2-border: var(--opacity-white-20);
	--color-scheme-2-accent: var(--color-white);
	--color-scheme-2-foreground: var(--color-neutral-darker);
	--color-scheme-3-text: var(--color-neutral-darkest);
	--color-scheme-3-background: var(--color-mexican-red-lightest);
	--color-scheme-3-border: var(--opacity-neutral-darkest-15);
	--color-scheme-3-accent: var(--color-mexican-red);
	--color-scheme-3-foreground: var(--color-mexican-red-lightest);
	--color-scheme-4-text: var(--color-neutral-darkest);
	--color-scheme-4-background: var(--color-st-tropaz-lightest);
	--color-scheme-4-border: var(--opacity-neutral-darkest-15);
	--color-scheme-4-accent: var(--color-mexican-red);
	--color-scheme-4-foreground: var(--color-st-tropaz-lightest);
	--color-scheme-5-text: var(--color-neutral-darkest);
	--color-scheme-5-background: var(--color-quill-gray-lighter);
	--color-scheme-5-border: var(--opacity-neutral-darkest-15);
	--color-scheme-5-accent: var(--color-mexican-red);
	--color-scheme-5-foreground: var(--color-quill-gray-lighter);
	--color-scheme-6-text: var(--color-neutral-darkest);
	--color-scheme-6-background: var(--color-confetti-lightest);
	--color-scheme-6-border: var(--opacity-neutral-darkest-15);
	--color-scheme-6-accent: var(--color-mexican-red);
	--color-scheme-6-foreground: var(--color-confetti-lightest);
	--color: var(--color-st-tropaz-lighter);
}