body {
    font-family: "Ysabeau", sans-serif;
}

p {
    font-family: "Ysabeau", sans-serif;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

h2 {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-4-text);
}







.header {
    background: var(--color-neutral-lightest);
    padding: 18px 47px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__burger {
    display: none;
}


.menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.item__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-3-text);
}

.btn-reservation {
    border: 1px solid var(--color-mexican-red);
    border-radius: 100px;
    padding: 8px 20px;
    background: var(--color-mexican-red);

    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
}




.hero {
    background-image: url('../img/hero.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 224px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__inner {
    display: grid;
    justify-items: center;
    max-width: 768px;
    margin: auto;
}

.hero__title {
    margin-top: 30px;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 120%;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-white);
}

.hero__discr {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: var(--color-white);
    margin-top: 24px;
}

.hero__btn {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
}

.btn-booking {
    border: 1px solid var(--color-white);
    border-radius: 100px;
    padding: 10px 24px;
    background: var(--color-white);

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: var(--color-neutral-darkest);
}

.btn-menu {
    border: 1px solid var(--opacity-white-50);
    border-radius: 100px;
    padding: 10px 24px;
    background: var(--opacity-white-10);

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: var(--color-white);
}







.interior {
    background: var(--color-scheme-4-background);
    background-image: url("../img/Isolation_Mode.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% ;
    padding: 112px 0;
}

.interior__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 64px;
}

.interior__left {
    max-width: 608px;
}

.interior__small-img {
    width: 260px;
    height: 260px;
}

.interior__subtitle {
    margin-top: 80px;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: var(--color-scheme-3-accent);
}

.interior__title {
    margin-top: 16px;
}

.interior__discr {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-4-text);
}

.interior__right img{
    width: 100%;
    height: 100%;
}







.kitchen__inner {
    padding-top: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kitchen__left {
    max-width: 600px;
}

.kitchen__subtitle {
    font-weight: 540;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: var(--color-st-tropaz);
    margin-bottom: 16px;
}

.kitchen__discr {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-5-text);
}

.kitchen__right {
    width: 50%;
}






.menu {
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu__inner {
    padding: 126px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

.menu__title {
    max-width: 600px;
}

.menu__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: var(--color-white);
}

.menu__title {
    color: var(--color-white);
    max-width: 350px;
    margin-top: 16px;
}

.menu__block {
    max-width: 600px;
}

.menu__discr {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
}

.menu__btn {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.menu__link {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--opacity-white-20);
    border-radius: 100px;
    padding: 8px 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
}






.contacts__inner {
    padding: 112px 0;
}

#map {
	width: 100%; 
	height: 350px;
}

.contacts__content {
    display: flex;
    justify-content: space-between;
    gap: 80px;
    margin-bottom: 39px;
}

.contacts__content-left {
    max-width: 700px;
}

.contacts__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: var(--color-st-tropaz);
    margin-bottom: 16px;
}

.contacts__discr {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-6-text);
}

.contact-info {
    width: 500px;
}

.info__item {
    margin-bottom: 24px;
}

.item__name {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-st-tropaz);
}

.item__content {
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-6-text);
}






.footer__inner {
    padding: 80px 0;
    padding-top: 0;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}

.footer__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

.footer__social {
    display: flex;
    align-items: center;
    gap: 12px;
}

.footer__bottom {
    padding-top: 32px;
    border-top:  1px solid var(--color-scheme-1-border);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

.footer__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--color-scheme-1-text);
}

.swiper-pagination-bullet-active {
  opacity: var(--swiper-pagination-bullet-opacity, 1);
  background: var(--color-scheme-3-text);
}

.swiper-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
    "wrapper-grid wrapper-grid"
    "pagination-grid swiper-button__grid";
}

.wrapper-grid {
    grid-area: wrapper-grid;
  }

.pagination-grid {
    grid-area: pagination-grid;
}

.swiper-button__grid {
    grid-area: swiper-button__grid;
}