/* ==============================
   Общие стили
   ============================== */
   body {
    font-family: "Ysabeau", sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.container {
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

/* Заголовки */
h1 {
    margin-top: 30px;
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-size: 45px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    color: var(--color-white);
}

h2 {
    font-family: "Poiret One", sans-serif;
    font-weight: 400;
    font-size: 52px;
    line-height: 120%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-4-text);
}

/* Субтитры */
.section__subtitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1em;
    text-transform: uppercase;
}

/* Кнопки */
.hero__btn {
    border: 1px solid var(--opacity-white-50);
    border-radius: 100px;
    padding: 10px 24px;

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

/* ==============================
   Header
   ============================== */
.site-header {
    background: var(--color-neutral-lightest);
    padding: 18px 47px;
}

.site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-toggle {
    display: none;
}

.site-nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.site-nav__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-scheme-3-text);
}

.site-header__booking {
    border: 1px solid var(--color-mexican-red);
    border-radius: 100px;
    padding: 8px 20px;
    background: var(--color-mexican-red);

    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
}

/* ==============================
   Hero
   ============================== */
.hero {
    min-height: 100vh; /* секция = высота экрана */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    background-image: url('../img/hero.png'); /* если есть фон */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    padding: 20px; /* чтобы текст не прилипал к краям на мобиле */
}

.hero__inner {
    max-width: 768px; /* ограничение ширины */
    width: 100%;
}

.hero__lead {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
    color: var(--color-white);
    margin-top: 24px;
}

.hero__actions {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    justify-content: center;
}

.btn--white {
    border: 1px solid var(--color-white);
    padding: 10px 24px;
    background: var(--color-white);

    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    color: var(--color-neutral-darkest);
}

.btn--outline {
    background: var(--opacity-white-10);
    color: var(--color-white);
}

/* ==============================
   Interior
   ============================== */
.interior {
    background: var(--color-scheme-4-background);
    background-image: url("../img/Isolation_Mode.svg");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 50%;
    padding: 112px 0;
}

.interior__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 64px;
}

.interior__left {
    max-width: 608px;
    width: 100%;
}

.interior__media {
    width: 260px;
    height: 260px;
}

.section__subtitle--accent {
    margin: 80px 0 24px;
    color: var(--color-scheme-3-accent);
}

#interior-title {
    padding-top: 16px;
}

.section__text--interior {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-4-text);
}

.interior__right img {
    width: 100%;
    height: 100%;
}

/* ==============================
   Kitchen
   ============================== */
.kitchen__inner {
    padding-top: 126px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kitchen__left {
    max-width: 600px;
}

.kitchen__subtitle {
    font-weight: 540;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: var(--color-st-tropaz);
    margin-bottom: 16px;
}

.kitchen__discr {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-5-text);
}

.kitchen__right {
    width: 50%;
}

/* ==============================
   Menu
   ============================== */
.menu {
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.menu__inner {
    padding: 126px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
}

#menu-title {
    color: var(--color-white);
    max-width: 350px;
    margin-top: 16px;
}

.menu__content {
    max-width: 600px;
}

.section__text--menu {
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-white);
}

.menu__actions {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
}

.menu__link {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid var(--opacity-white-20);
    border-radius: 100px;
    padding: 8px 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    color: var(--color-white);
}

/* Основная кнопка */
.menu__link--main::before {
    content: "";
    width: 24px;
    height: 19px;
    background-image: url('../img/main-menu-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* Вторичная кнопка */
.menu__link--secondary::before {
    content: "";
    width: 19px;
    height: 22px;
    background-image: url('../img/bar-menu-icon.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* ==============================
   Contacts
   ============================== */
.contacts__inner {
    padding: 112px 0;
}

#map {
    width: 100%;
    height: 350px;
}

.contacts__top {
    display: grid;
    grid-template-columns: auto auto;
    gap: 64px;
    margin-bottom: 80px;
}

.contacts__content {
    max-width: 700px;
}

.section__subtitle--secondary {
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    letter-spacing: 1em;
    text-transform: uppercase;
    color: var(--color-st-tropaz);
    margin-bottom: 16px;
}

.section__text--contacts {
    margin-top: 24px;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: var(--color-scheme-6-text);
}

.contacts__info {
    display: flex;
    flex-direction: column;
    gap: 32px;
    font-style: normal;
}

.info__item {
    margin-bottom: 24px;
}

.contacts__label {
    display: flex;
    align-items: center;
    gap: 16px;

    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-st-tropaz);
}

.contacts__value {
    font-family: "Poiret One", sans-serif;
    margin-top: 8px;
    font-weight: 400;
    font-size: 22px;
    line-height: 140%;
    letter-spacing: -0.01em;
    color: var(--color-scheme-6-text);
}

.contacts__phone {
    color: var(--color-scheme-6-text);
}

.contacts__map {
    width: 100%;
}

.contacts__map-inner {
    width: 100%;
    height: 420px;
    border-radius: 16px;
    overflow: hidden;
}

/* ==============================
   Footer
   ============================== */
.site-footer__inner {
    padding: 80px 0;
    padding-top: 0;
}

.site-footer__top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 80px;
}

.site-footer__list {
    display: flex;
    align-items: center;
    gap: 32px;
}

.site-footer__link {
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

.site-footer__social {
    display: flex;
    align-items: center;
    gap: 12px;
}

.site-footer__bottom {
    padding-top: 32px;
    border-top:  1px solid var(--color-scheme-1-border);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    flex-direction: row-reverse;
}

.site-footer__copyright {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: var(--color-scheme-1-text);
}

.site-footer__legal-link {
    margin-right: 24px;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration: underline;
    color: var(--color-scheme-1-text);
}